@import org.example.gen.Song
@import java.util.List
@args(){
List<Song> listSong
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>local</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".remove").click(function () {
                var id = $(this).closest("tr").find(".id").text();
                $.ajax({
                    url: "http://localhost:8080/songs",
                    type: 'delete',
                    data: `id=${id}`,
                    success: function (result) {
                        // location.reload();
                    }
                })
            });

            $(".edit").click(function () {
                var id = $(this).closest("tr").find(".id").text();
                var title = $(this).closest("tr").find(".title").text();
                var singer = $(this).closest("tr").find(".singer").text();
                $("#title").val(title);
                $("#singer").val(singer);
                $("#id").val(id);
            });

            $(".update").click(function (){
                var id = $(this).closest("tr").find(".id").text();
                alert($("#title").val());
                var temp = JSON.stringify({
                    id: $("#id").val(),
                    title: $("#title").val(),
                    singer: [$("#singer").val()]
                });
                console.log(temp);
                $.ajax({
                    url: "http://localhost:8080/songs",
                    type: "put",
                    contentType: "application/json",
                    data: JSON.stringify(`
                        id: $("#id").val(),
                        title: $("#title").val(),
                        singer: [$("#singer").val()]`
                    )
                });
            });

        });
    </script>




</head>
<body>
<div class="text-center">
    <h1>List Songs</h1>
</div>
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Singers</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        @for(Song song: listSong) {
        @{
        int songId = song.getId();
        }
        <tr>
            <td class="id">@song.getId()</td>
            <td class="title">@song.getTitle()</td>
            @{
            String artistRender = String.join(",", song.getSinger());
            }
            <td class="singer">
                @artistRender
            </td>

            <td>
                @{
                String idEdit = "edit" + String.valueOf(songId);
                String idUpdate = "update" + String.valueOf(songId);
                }
                <button class="btn btn-success edit">Edit</button>
                <button class="btn btn-danger remove">Remove</button>
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>

<div class="container">
    <form>
        <div class="form-group">
            <label for="id">ID
            </label>
            <input type="text" class="form-control" id="id" disabled>
        </div>
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title">
        </div>

        <div class="form-group">
            <label for="singer">Singers:</label>
            <input type="text" class="form-control" id="singer">
        </div>

        <button class="btn btn-primary update">Update</button>
    </form>
</div>

</body>
</html>